Meu nome é Felipe Gabriel Passagem Marinheiro

Estou Estudando no Alura 🏫
Estou me desenvolvendo na linguavem ja JavaScript 📜
Estou me desenvolvendo na liguavem do indioma ingles 🇦🇨
Utilizo esse espaço para minha organizaçao e comparilhamento dos meus projetos desenvolvidos
Estou gostando muito de apreder a progamar JavaScript e varios outros!
Quero um dia Trabalhar com Ti progamar jogos sit!
Você pode entrar em contato comigo 📧
0000108017655xsp@al.educacao.sp.gov.br

